.contacts {}

.contacts__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 70px 50px 50px 15px;

  @media (max-width: $small-desktop) {
    padding-top: 50px;
  }

  @media (max-width: $pad) {
    position: static;
    display: block;
    padding: 40px 0px 20px 0px;
  }

  @media (max-width: $mobile) {
    padding: 20px 20px 10px 20px;
  }

  @media (max-width: $mobile1) {
    padding: 20px 0px 5px 0px;
  }
}

.contacts__title {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0px;
  right: auto;
  height: 100%;
  padding-bottom: 70px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  text-align: center;
  @extend %subtitle-font;
  color: $color-primary;
  transform: translate(-100%, 0%) rotate(180deg);

  @media (max-width: $pad) {
    position: static;
    padding: 0;
    margin: 0px 0px 30px 0px;
    writing-mode: horizontal-tb;
    color: $color-title;
    transform: translate(0%, 0%) rotate(0deg);
  }

  @media (max-width: $mobile) {
    margin: 0px 0px 20px 0px;
  }
}

.contacts__items {

  @media (max-width: $pad) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: $tablet) {
    display: block;
  }

}

.contacts__item {
  @media (max-width: $pad) {
    margin: 0px 10px 0px 0px;
    &:last-child {
      margin: 0;
    }
  }

}

.contacts__link {
  display: flex;
  align-items: center;
  color: $color-link;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      .contacts__name {
        color: $color-hover;

        &::after {
          width: 100%;
          transition: width 0.3s ease 0s;
        }
      }

      .contacts__icon {
        svg {
          fill: $color-hover;
        }
      }
    }
  }
}

.contacts__info {
  display: flex;
  align-items: center;
}

.contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;

  @media (max-width: $mobile) {
    width: 25px;
    height: 25px;
  }

  svg {
    fill: $color-primary;
    transition: all 0.3s ease 0s;
  }
}

.contacts__name {
  @extend %underline-link;
  transition: color 0.3s ease 0s;
}
